.App {
  margin: 0 auto;
  border:solid 1px rgb(156, 156, 156);
  margin-top: 4rem;
  width: 80vw;
  height: 350px;
  max-width: 1100px;
  min-width:667px;
  text-align: center;
  background:rgba(243, 243, 241, 0.993) ;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);

  &__container {
    width:95%;
    height:90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  
}

@media screen and (max-width: 667px){
  .App{
    width:90vw;
  }
  .App_container{
    display: flex;
    flex-direction: column-reverse;
  }

}
